*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{


}
.container{
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    display: flex;
}
.calculator{
    width: 400px;
    height: 400px;
    background: lightgray;
   margin: auto;
    border-radius: 5px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;   
    box-shadow: 5px 5px rgba(0, 0, 0, 0.566); 
}
#userInput{
         font-size: 23px;
         height: 50px;
         width: 60%;
}
.btn{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.plus,.minus,.divide,.equal,.multiply
{
    background-color: bisque;
    width: 50px;
    height: 50px;
}

.btn_equal{
    width: 60%;
}
